.event-card {
  display: flex;
  flex-direction: column;

  gap: 6px;
  width: 240px;
  
  color: #1a1a1a;
}

.event-card-title {
  margin: 0;
  
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.event-card-meta {
  margin: 0;
  
  font-size: 13px;
  color: #6b7280;
}

.event-card-description {
  margin: 2px 0 0;
  
  font-size: 14px;
  line-height: 1.4;
}

.event-card-button {
  margin-top: 8px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  
  background: #0d780d;
  color: #fff;
  
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  
  cursor: pointer;
}

.event-card-button:hover {
  background: #085808;
}

/* overriding leaflet stuff */

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 4px;
}

.leaflet-popup-content {
  margin: 12px;
}

.leaflet-popup-content .event-card p {
  margin: 0;
}

